.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    border-bottom: 1px solid #ccc;
}

.header_logo img{
    width: 70px;
}

.header_user img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.header_user {
    display: flex;
    align-items: center;
}

.header_user a {
    margin-left: 15px;
    background: rgb(0, 165, 194);
    border-radius: 10px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(0, 52, 68, 0.473);
    text-decoration: none;
}

.header_user a:hover {
    background: rgb(161, 4, 4);
}

.header_pesquisa{
    width: 60%;
}

.header_pesquisa input[type=text]{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    font-weight: bold;

}

.main {
    width: 100%;
    display: flex;
}

.main_sidebar {
    width: 300px;
    padding: 40px 10px;
}

.main_content{
    width: calc(100% - 300px);
    padding: 10px;
}

.header_input {
    display: none;
}

.main_btnFileSelect {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #333;
    font-weight: bold;
    cursor: pointer;

}

.main_btnFileSelect svg {
    transform: translateY(2px);
    margin-right: 15px;
}

.main_folderMeuDrive{
    margin-top: 30px;
    background-color: rgba(3, 169, 252, 0.2);
    max-width: 300px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.main_folderMeuDrive svg{
    font-size: 23px;
    color: rgb(3, 169, 252);
}

.main_folderMeuDrive span{
    padding-left: 30px;
    position: relative;
    top: -5px;
    color: rgb(3, 169, 252);

}

.mainTopoText {
    padding: 8px 0;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.boxFiles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boxFileSingle{
    width: 31%;
    height: 15em;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    padding: 8px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.boxFileSingle svg{
    font-size: 30px;
    color: #aaaaaa;
    width: 100%;
    height: 170px;
}

.boxFileSingle a{
    border: 1px solid rgb(3, 169, 252);
    padding:  10px 0;
    display: block;
    background: rgba(3, 169, 252, 0.2);
    color: rgb(3, 169, 252);
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;

}

@media screen and (max-width: 768px){
    .main {
        flex-wrap: wrap;
    }

    .main_content{
        width: 100%;
    }
    .main_sidebar{
        width: 100%;
        padding: 40px 10px;
    }
    
}


.miniatura {
    width: 250px;
    max-height: 170px;
}